@import url("/src/index.css");

/******* All products ****/

.allWishlistProducts {
  margin-top: 8.5vh;
  float: right;
  min-height: 81.5vh;
  width: 100vw;
  background-color: var(--background-color2);
}

.wishlist-Products-heading {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 3rem 0 0 0;
}

.myProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.card1 {
  margin: 1.5rem;
  box-shadow: 4px 4px 4px var(--boxShadow-color);
}

.addItem-btn {
  background-color: var(--purple-color);
}

.addItem-btn:hover {
  background-color: var(--darkPurple-color);
}

/********** mobile mode *********/
