.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-product {
  list-style: none;
}

.wish-icon {
  color: var(--black-color);
  width: 3rem;
}

.wish-icon:hover {
  color: var(--red-color);
}

/* .markFavorite {
  color: var(--red-color);
} */

.wish-icon:focus {
  color: var(--red-color);
}
