.products-container {
  display: flex;
  flex-wrap: wrap;
}

.list-product {
  list-style: none;
}

.products-container .wish-icon {
  color: var(--black-color);
  width: 3rem;
}

.wish-icon:hover {
  color: var(--red-color);
}
