.checkout .cart-Container {
  min-height: 50vh;
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  font-size: larger;
}

.address {
  min-height: 20vh;
  width: 30rem;
  margin: 2rem;
  background-color: var(--white-color);
}

.address h2 {
  font-size: 2rem;
  padding: 2rem 1rem 1rem 1rem;
  font-weight: 600;
}

.address div {
  margin: 2rem;
  justify-content: space-between;
  border: 1px solid var(--purple-color);
  padding: 1rem;
}

.order-Summary {
  min-height: 40vh;
  min-width: 15rem;
  margin: 2rem;
  padding: 1rem;
  background-color: var(--white-color);
}

.orders h2 {
  font-size: 2.5rem;
  background-color: var(--lightPurple-color);
  border: 2px solid var(--purple-color);
}

.order-Summary .card-details {
  font-size: 1.5rem;
}

.break-word {
  max-width: 65ch;
}

.order-Summary hr {
  margin: 1rem 0;
  color: var(--purple-color);
}

.deliver-to,
.price-qty {
  font-weight: 600;
  padding-bottom: 5px;
}

.checkout {
  position: relative;
}

.new-address {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  padding: 2rem;
  min-height: 60vh;
  width: 30rem;
  background-color: var(--white-color);
}

.new-address input {
  padding: 6px;
}

.address .btn-addAddress {
  background-color: var(--yellow-color);
  color: var(--black-color);
  margin-bottom: 8px;
}

.address .btn-addAddress:hover {
  background-color: var(--yellow-color);
  color: var(--black-color);
}

.new-address h3 {
  font-size: large;
  font-weight: 600;
  margin-bottom: 1rem;
}

.new-address div {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.new-address input {
  margin: 8px;
}

.new-address button {
  padding: 5px 2rem;
  margin: 2px;
  font-size: large;
  cursor: pointer;
  border: none;
}

.add-newAddress {
  background-color: var(--purple-color);
  color: var(--white-color);
}

.add-dummyAddress {
  border: 1px solid var(--purple-color);
}
