/********** addition ***********/

.navIcons {
  width: 18rem;
  display: flex;
  justify-content: space-evenly;
}

.btn-badge {
  left: 1.8rem;
}

.log {
  margin: 0;
}

.log:hover {
  border: none;
  color: var(--purple-color);
}

.log a {
  color: var(--purple-color);
}

.company-logo {
  color: var(--white-color);
  font-style: italic;
  font-weight: 600;
  margin: 0 3rem;
}

.Blackmole-logo {
  height: 4rem;
}

.fa-search {
  color: var(--white-color);
}

@media only screen and (max-width: 400px) {
  .company-logo {
    margin: 0 1rem;
  }
}
