.searchContainer {
  margin-top: 8.5vh;
  float: right;
  min-height: 81.5vh;
  width: 100vw;
  background-color: var(--background-color2);
}

.searchList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.searchContainer .fa-search {
  color: purple;
  margin-left: 2rem;
}

.search-input {
  width: 40%;
  height: 3rem;
  margin: 5rem 0 1rem 0;
  border: none;
  padding: 1rem;
}

.success-msg {
  font-size: 1.5rem;
  margin: 2rem 0 4rem 0;
  color: purple;
}
