/********** Wishlist ********/

.wishlist-heading {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 4rem auto;
}

.vertical-Card .wish-icon {
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/******* addition ******/

.wishlist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-product {
  list-style: none;
}

.wish-icon {
  width: 3rem;
}

/********** mobile mode *********/

@media only screen and (max-width: 800px) {
}
